<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>sentiment.servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>sentiment.servlet.AddCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLikeServlet</servlet-name>
        <servlet-class>sentiment.servlet.UpdateLikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupportServlet</servlet-name>
        <servlet-class>sentiment.servlet.SupportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OTPMatchServlet</servlet-name>
        <servlet-class>sentiment.servlet.OTPMatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OTPMatchServlet</servlet-name>
        <url-pattern>/OTPMatch</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetPasswordServlet</servlet-name>
        <servlet-class>sentiment.servlet.SetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetPasswordServlet</servlet-name>
        <url-pattern>/SetPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>sentiment.servlet.RatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePasswordServlet</servlet-name>
        <servlet-class>sentiment.servlet.SavePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>sentiment.servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>sentiment.servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>sentiment.servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImageServlet</servlet-name>
        <servlet-class>sentiment.servlet.DisplayImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>sentiment.servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sentiment.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sentiment.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <servlet-class>sentiment.servlet.ChangeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserNameServlet</servlet-name>
        <servlet-class>sentiment.servlet.CheckUserNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FBGmailServlet</servlet-name>
        <servlet-class>sentiment.servlet.FBGmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalysisServlet</servlet-name>
        <servlet-class>sentiment.servlet.AnalysisServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayImageServlet</servlet-name>
        <url-pattern>/DisplayImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePasswordServlet</servlet-name>
        <url-pattern>/SavePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserNameServlet</servlet-name>
        <url-pattern>/CheckUserName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FBGmailServlet</servlet-name>
        <url-pattern>/FBGmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/Rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalysisServlet</servlet-name>
        <url-pattern>/Analysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLikeServlet</servlet-name>
        <url-pattern>/UpdateLike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupportServlet</servlet-name>
        <url-pattern>/Support</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
